body {
    
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #F5F1ED;
    display: flex;
        flex-direction: column;
        align-items: center;
    
}
#sectionhead{
    padding: 100px 0px 20px 0px;
    div{
        font-size : 20px;
        display: flex;
        justify-content: center;
        p{

        }
        p:nth-child(1){
        }
        p:nth-child(2){
            padding-top: 100px;
        }
        p:nth-child(3){
        }
    }
}
.hdeux{
    font-family: "Girassol", serif;
  font-weight: 400;
  font-style: normal; 
  color: #4A0505;
 font-size: 40px;
}


.entreprise{
    font-family: "Montserrat Subrayada", serif;
    font-weight: 700;
    font-style: normal;
    color: #CE3535;
    font-size: 30px;
}

header {
    color: #4A0505;
    text-align: center;
    padding: 1rem 0;
    min-height: 80vh;
    display: flex;
    align-items: center;
}


nav{
    font-family: "Girassol", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    border-bottom: #4A0505 1px solid;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #F5F1ED;
    left: 0;
    width: calc(100vw - 40px);
    padding: 8px 20px;
}

a{
    text-decoration: none;
    color: #4A0505;
}

#navright{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    gap: 24px;
    font-size: 20px;
    border-left: solid 1px;
    align-items: center;
    padding-right: 10px;

}

button{
    background-color: #CE3535;
    color: #F5F1ED;
    font-family: "Girassol", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border: 0px;
}

.trait{
    background-color: #4A0505;
    height: 1px;
    width: 800px;
    margin-top: 100px;
    margin-bottom: 40px;
}

.card-activite {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
    width: 30%;
    flex-direction: column;
    img {
        width: 100%;
    }
}

.cardsWrapper{
display: flex;
gap: 30px;
}

#carte1{
    background-color: #D7E2E3;
    color: #05484C;
}

#carte2{
    background-color: #F4E7EE;
    color : #66053E
}

#carte3{
    background-color: #F8E4DD;
    color : #792201
}

#sectionactivite{
    flex-direction: column;
    display: flex
;
    justify-content: center;
    align-items: center;
}
    div{

    }
}


.sectionhead {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #F5F1ED;

}

image{
    size: 200px;
}
#sectiontemoignage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temoignageWrapper{
    display: flex;
    
    gap: 30px;
}
#cartedeux1{
    background-color: aqua;
}